# ESLint Ignore
# Does not inherit from .gitignore

# @kitschpatrol/repo-config boilerplate
.astro/
.DS_Store
.env
.env.*
!.env.example
.svelte-kit/
{tmp,temp}/
**/*.min.js
/scratch/
bower_components/
build/
coverage/
dist/
env.d.ts
node_modules/
vendor/

# @kitschpatrol/eslint-config boilerplate
/patches/

# Customizations
