# Git Ignore
# Also used by CSpell, Stylelint, and ESLint

# @kitschpatrol/repo-config boilerplate
.astro/
.DS_Store
.env
.env.*
!.env.example
.eslint-config-inspector
.svelte-kit/
{tmp,temp}/
**/*.min.js
/scratch/
bower_components/
build/
coverage/
dist/
node_modules/
vendor/

# Customizations

# Obsidian
data.json
.hotreload
resources/
/examples/Yanki Demo Vault/.obsidian/workspace.json
/examples/Yanki Demo Vault/.obsidian/plugins/yanki
