div.yanki-settings {
	div.search-input-container {
		width: 100%;
	}

	/* Keep the line length reasonable */
	div.setting-item-description {
		max-width: 70ch;
	}

	/* Lay out sync stats */
	div.stats {
		div.setting-item-info {
			width: 100%;

			div.setting-item-description {
				display: grid;
				grid-template-columns: 1fr 1fr;

				p {
					margin: 0;
					font-weight: bold;
				}
			}
		}
	}

	/* Keep button annotations to the right */
	div.setting-item.description-is-button-annotation {
		div.setting-item-info {
			display: flex;
			justify-content: flex-end;
		}

		div.setting-item-control {
			flex: none;
		}
	}
}
